<div class="codepen-container">
  <p
    class="codepen"
    data-height="300"
    data-theme-id="dark"
    data-default-tab="css,result"
    data-slug-hash="{{slug}}"
    data-editable="true"
    data-user="sam-youatt"
    style="
      height: 300px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      margin: 1em 0;
      padding: 1em;
    "
  >
    <span
      >See the Pen
      <a href="https://codepen.io/sam-youatt/pen/{{slug}}"> Untitled</a>
      by Sam Youatt (<a href="https://codepen.io/sam-youatt">@sam-youatt</a>) on
      <a href="https://codepen.io">CodePen</a>.</span
    >
  </p>
  <script
    async
    src="https://cpwebassets.codepen.io/assets/embed/ei.js"
  ></script>
</div>
