<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ get_url(path="styles/styles.css") | safe }}"
    />
    <link
      rel="preload"
      href="{{ get_url(path="/fonts/MADEDillan.otf") }}"
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/one-half-dark.css"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/one-half-light.css"
      media="(prefers-color-scheme: light)"
    />
    <title>Sam Youatt</title>
  </head>

  <body class="bg-stone-50 dark:bg-stone-700">
    <nav class="mb-8 flex flex-row justify-center p-4">
      <a href="/">
        <span class="self-center font-hero text-2xl md:text-3xl text-stone-900">
          Sam Youatt
        </span>
      </a>
    </nav>
    <section>{% block content %}{% endblock %}</section>
    <footer></footer>
  </body>
</html>
