{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<h2>This is a h2</h2>
<h3>This is a h3</h3>
<div class="blog-list-container">
  {% for page in section.pages %}
  <div class="blog-list-card">
    <h3 class="blog-list-title">{{ page.title }}</h3>
    <p class="blog-list-date">{{ page.date }}</p>
    <p class="blog-list-description">{{ page.description }}</p>
    <a href="{{ page.permalink | safe }}" class="blog-list-read">Read</a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
