@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MADEDillan';
  src: url('/fonts/MADEDillan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: scroll;
}

/*Better styling for code highlights*/
pre mark {
  /*If you want your highlights to take the full width.*/
  display: block;
  /*The default background colour of a mark is bright yellow*/
  border-radius: 2px;
  background-color: #fbbf2450;
}
